.todo_container{
    text-align: center; 
    /* padding: 5px; */
    border: 2px solid lime;
    /*border-bottom: 2px solid grey;*/
    /* height: 50px;  */
    /* background: #888; */
    margin:8px;
    border-radius: 5px;
    overflow: hidden;
}

.todo_container:hover{
    animation-name: todo-container-flash;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.todo_container:hover .time-wrapper{
    animation-name: time-wrapper-flash;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}


@keyframes time-wrapper-flash {
    0% {background-color: lime;}
    50% {background-color: aqua;}
    100% {background-color: lime;}
}

@keyframes todo-container-flash {
    0% {border: 2px solid lime;}
    50% {border: 2px solid aqua;}
    100% {border: 2px solid lime;}
}



.todo_content_wrapper{
    height: 40px; 
}

/* .todo_content_wrapper > span{
    margin:5px; 
} */

