.App {
  text-align: center;
  padding: 10px;
  margin: 20px; 
  
  /*background: #aaa; */
  width: 400px; 
  border-radius: 5px;
  /* border: 2px solid lime; */
  background: #ddd; 
  border-bottom: 3px solid #aaa;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 0.8em; 
}

.App-intro {
  font-size: large;
}

#unicode-icon {
  font-size: 1.6em; 
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#drag-area{
  cursor: move; 
}
