#bin{
    width:25px;
    height: 25px;
}

.bin_wrapper > button{
    margin-left: 5px;
    padding: 2px;
    /* border-radius: 3px; */
    margin: 0 auto; 
    background:none; 
    /*border: 1px solid black; */
    margin-top: 3px; 
    /* margin-top:15%;  */
    /* display: inline-block;  */
}

.bin_wrapper{
    background: #eee; 
    float: left; 
    width: 15%; 
    height: 100%; 
    /* text-align: center;  */

}