
.time-wrapper{
    font-size: 0.7em; 
    background: lime; 
    text-align: left; 
    padding: 5px; 
}

.todo-time-information{
    display: inline-block; 
}

.todo-character-count{
    display: inline-block; 
    float: right; 
}